/*Start of Navbar and footer styling*/

.navbar {
    font-family: 'Raleway', sans-serif;

}

#footer-logo {
    height: 65px;
    width: 70px;
    margin: auto;
}

#footer-logo2 {
    height: 65px;
    width: 100px;

    margin: auto;

}

.footer-content {
    color: white;
    padding: 20px;

}

#subscribe {
    padding-top: 5px;
}

.btn {
    margin-right: 3px;
    margin-bottom: 3px;
}

#footer {

    margin-top: 100px;
    background-color: rgb(52, 58, 64);

}

.container-fluid {
    background-color: rgb(52, 58, 64);
    margin-top: 10px;
}

html {
    height: 100%;

}

body {
    min-height: 100%;

}

h6{
    padding: 5px;
}

.fa-facebook-square{
    font-size: 2em;
}

.fa-linkedin{
    font-size: 2em;
}

.fa-twitter-square{
    font-size: 2em;
}


/*End of Navbar and footer styling*/

/*  Start - Font for the entire html file */
html * {
    font-family: 'Raleway', sans-serif;

}


/* Start - Upcoming Events */
.container{
    margin-top :100px;
    background-color:rgb(225,225,225);

}

.card{
    margin: 5%;
}

/* End Upcoming events */

h2{
    margin-top: 75px;
    text-align: center;
    padding-top: 25px;
}
.list-group{
    padding: 10px;
}