/*Start of Navbar and footer styling*/

.navbar {
    font-family: 'Raleway', sans-serif;

}

#footer-logo {
    height: 65px;
    width: 70px;
    margin: auto;
}

#footer-logo2 {
    height: 65px;
    width: 100px;

    margin: auto;

}

.footer-content {
    color: white;
    padding: 20px;

}

#subscribe {
    padding-top: 5px;
}

.btn {
    margin-right: 3px;
    margin-bottom: 3px;
}

#footer {

    margin-top: 100px;
    background-color: rgb(52, 58, 64);

}

.container-fluid {
    background-color: rgb(52, 58, 64);
    margin-top: 10px;
}

html {
    height: 100%;

}

body {
    min-height: 100%;

}

h6{
    padding: 5px;
}

.fa-facebook-square{
    font-size: 2em;
}

.fa-linkedin{
    font-size: 2em;
}

.fa-twitter-square{
    font-size: 2em;
}


/*End of Navbar and footer styling*/

/*  Start - Font for the entire html file */
html * {
    font-family: 'Raleway', sans-serif;

}

/*  End - Font for the entire html file */

/* Start - Container for the Events content */
.container {
    padding: 25px;
    background-color: rgb(225, 225, 225);
}

/*  Used for spacing between events and blog posts*/
.c-spacing{
    margin-top: 50px;
    padding:20px;
}

/* End - Container for the Events content */

h2 {
    margin-top: 40px;
    text-align: center;

}

/*Start of partner content*/
.partner-content {
    background-color: rgb(225, 225, 225);

}

.partner-logo-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.partner-logo-1 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;


}

/*End of partner content*/

h1 {
    /*padding: 50px;*/

    margin: auto;
}

.image-indicator-spacing {
    margin-bottom: 50px;
    max-height: 100%;
}

.carousel {
    background-color: rgb(72,61,139);
    margin-top: 60px;
    height: 500px;
    color: white;
}

.slider1 {
    margin: auto;
    padding: 5%;

}

.sliders {
    text-align: center;
    margin-top: 5%;

}

.fa-info-circle {
    font-size: 6em;
    padding-bottom: 50px;
}

.fa-lightbulb {
    font-size: 6em;
    padding-bottom: 50px;
}

.fa-connectdevelop {
    font-size: 6em;
    padding-bottom: 50px;
}


.card {

    margin: auto;
    padding-bottom: 5px;
}

.card2{
    margin: 40px;
}

.btn-danger {
    margin: auto;
    display: block;
}



